<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>


</title>

<script src="angular-min-js.js"></script>
<script src="bower_components/angular-ui-grid/ui-grid.js"></script>
<script src="table.js"></script>
<link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css">
<link rel="stylesheet" href="table.css">



</head>

<body ng-app="myApp">



<div ng-controller="testController">
    
    <form >
        <input type="text" id="name" ng-model="name1"  />
        <button ng-click="myFunction()">Submit</button>
      </form>
        <br><br>

 <div ui-grid="gridOptions" ui-grid-pagination class="myGrid"></div>

</div>

</body>

</html>